<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="app.js"></script>
  <script src="modules/elokventModules.js"></script>
  <script src="modules/footer/footerController.js"></script>
  <script src="modules/main/mainController.js"></script>
  <script src="modules/word/wordController.js"></script>
  <script src="modules/settings/settingsController.js"></script>

  <style>
    .disabled {
      cursor: not-allowed;
    }

    .scroll {
      height: 100%;
      /*vertical-align: middle;*/
    }
  </style>
</head>

<body ng-app="elokvent" ng-controller="MainController as MainCtrl">

<ion-pane>
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-home" ng-click="MainCtrl.goToHome()"></button>
    <h1 class="title">Elokvent</h1>
    <button class="button button-icon icon ion-settings" ng-click="MainCtrl.openSettings()"></button>
  </ion-header-bar>

  <ion-content>
    <ion-nav-view style="background-color: #0a9dc7"></ion-nav-view>
  </ion-content>

  <div class="bar bar-footer bar-stable" ng-controller="FooterController as FooterCtrl"
       ng-if="MainCtrl.showFooterWordNav">
    <a class="button icon-left ion-chevron-left button-clear button-dark"
       ng-class="{disabled : FooterCtrl.isForegaendeDisabled()}">Föregående</a>
    <a class="button icon-right ion-chevron-right button-clear button-dark">Nästa</a>
  </div>
</ion-pane>
</body>
</html>
